img {
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10mm;
    margin-bottom: 10mm;
}

body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: expanded;
    font-kerning:var(expanded);
    font-size: large;
    color: rgb(112, 55, 165);
    font-style: italic;
    text-align: center;
}

h1 {
    font-size: 98px;
    text-shadow: blanchedalmond;
    -ms-text-overflow: ellipsis;
}


.title {
    font-weight: bold;
    font-size: 65px;
}

.l {
    font-size: 36px;

}

